{% extends "base.html" %}

{% block content %}
<section class="booking-section py-5">
    <div class="container">
        <h2 class="text-center">Book Your Table</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="name">Full Name</label>
                    {{ form.name }}
                </div>
                <div class="form-group col-md-6">
                    <label for="email">Email Address</label>
                    {{ form.email }}
                </div>
                <div class="form-group col-md-6">
                    <label for="booking_date">Date</label>
                    {{ form.booking_date }}
                </div>
                <div class="form-group col-md-6">
                    <label for="booking_time">Time</label>
                    {{ form.booking_time }}
                </div>
                <div class="form-group col-md-6">
                    <label for="guests">Number of Guests</label>
                    {{ form.guests }}
                </div>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary btn-lg">Book Now!</button>
            </div>
        </form>

    </div>

</section>
{% endblock %}