{% extends "base.html" %}
{% load widget_tweaks static %} <!-- Load the widget_tweaks library -->

{% block content %}
<section class="booking-section py-5">
    <div class="container-fluid">
        <h2 class="text-center">Book Your Table</h2>
        <div class="booking-image-container">
            <img src="{% static 'images/booking.jpg' %}" alt="Savanna Grill Logo" class="booking-image">
        </div>
        <form method="POST" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="customer_name">Full Name</label>
                    {{ form.customer_name|add_class:"form-control" }}
                </div>
                <div class="form-group col-md-6">
                    <label for="email">Email Address</label>
                    {{ form.email|add_class:"form-control" }}
                </div> 
                <div class="form-group col-md-6">
                    <label for="booking_date">Date</label>
                    {{ form.booking_date|add_class:"form-control" }}
                </div>
                <div class="form-group col-md-6">
                    <label for="booking_time">Time</label>
                    {{ form.booking_time|add_class:"form-control" }}
                </div>
                <div class="form-group col-md-6">
                    <label for="num_guests">Number of Guests</label>
                    {{ form.num_guests|add_class:"form-control" }}
                </div>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary btn-lg">Book Now!</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}