/*Font Styles*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');


body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f7fa;
    color: #333333; /* Dark text for readability */
    margin: 0;
    padding: 0;
}

header {
    background-color: #003366; /* Navy blue background */
    color: #f0f8ff; /* Light blue text */
    text-align: center;
    padding: 20px 0;
}