{% extends "base.html" %}

{% block content %}
<section class="menu-section py-5">
    <div class="container">
        <h2 class="text-center">Savanna Menu</h2>
        <div class="row">
            <!-- Loop through each menu item and display it in a card -->
            {% for item in items %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <!-- Display the menu item image if available -->
                    {% if item.image %}
                    <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.name }}">
                    {% endif %}
                    <div class="card-body">
                        <h4 class="card-text">Category: {{ item.category }}</h5> <!-- Category of the food item -->
                        <h5 class="card-title">{{ item.name }}</h5> <!-- Food item name -->
                        <p class="card-text">{{ item.description }}</p> <!-- Description of the food item -->
                        <p class="card-text"><strong>Price:</strong> ${{ item.price }}</p> <!-- Price of the food item -->
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}